/*
Colors used:
Primary Color (Blue): #eff8fb;
Secondary Color (Pink): #e4aea4;
White: #ffffff
Dark Grey: #2f2f2f
*/
*{
  box-sizing: border-box;
}

body{
  background-color: #eff8fb;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  color: #2f2f2f;
}

h1, h2, h3, h4 {
  line-height: 1.6;
}
h1{
  font-size:3.052em;
  font-weight: 400;
}
h2{
  font-size:2.441em;
  font-weight: 300;
}
h3{
  font-size:1.953em;
  font-weight: 260;
  line-height: 1.2;
}
h4{
  font-size:1.563em;
  font-weight: 200;
}

img {
  width:100%;
}

a {
  color: #2f2f2f;
  text-decoration:; /* No underlining */
}

a:visited { /* visited link */
  color: #2f2f2f;
}

a:hover {
  color: #2f2f2f;
  text-decoration: /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #2f2f2f;
}

a:hover,
a:focus {
  color: #2f2f2f;
}

a.button {
  text-decoration: none;
}

.button, a.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e4aea4;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact, a.button.contact {
  background-color: transparent;
  color: #e4aea4;
  text-transform: uppercase;
  border: 2px solid #e4aea4;
}
.button.contact:hover {
  background-color: #e4aea4;
  color: #ffffff;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 15px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #d3d3d3;
}

#work h1 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

header {
  background-color: #e4aea4;
  padding: 10px 0 4px;
-webkit-box-shadow: 0px 6px 5px 0px rgba(193, 193, 193, 1);
-moz-box-shadow:    0px 6px 5px 0px rgba(193, 193, 193, 1);
box-shadow:         0px 6px 5px 0px rgba(193, 193, 193, 1);
position: fixed;
width: 100%
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff
}

#herosection {
  background-color: #e4aea4;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

#intro h2 {
  padding-top: 500;
}

main {
  padding-top: 200px;
}

#contact svg {
  width:30px;
  height: auto;
}

#contact ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 3px;

}

#contact ul {
  width: 100%;
  padding: 0px;
  text-align: center;

}

#contact {
  text-align: center;
}

#intro {
  text-align: center;
}

#profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  display: block;
}


.coin-svg {
  width 100%, max-width 100%, height: auto;
}

hr {
  background-color: #2f2f2f
}

#lmpblurb {
  text-align: center;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right:0;
}

.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ffffff;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 50px;
  }
#intro span {
  display: block;
}
.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-5 {
  width: 33.33%;
}

.col-md-8 {
  width: 66.66%;
}

.col-md-4 {
  width: 33.33%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work-about-page h3 {
  margin-top: 0;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #ff9396;}
}
.cls-12 {
animation: 2s color-change infinite alternate linear;
}

  @keyframes nose-move {
    from {
      transform: translate(24px,33px);
    }
    to {
      transform: translate(24px,38px);
    }
  }

  .nose-move {
    animation: 0.3s nose-move infinite alternate linear;
  }

  #skills {
    padding-left: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav > ul {
  margin: 1em 0;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.col-lg-7 {
  width: 58.33%;
}

.col-lg-5 {
  width: 33.33%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#skills {
  padding-left: 0;
}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav > ul {
  margin: 1em 0;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
